.header{
  display: flex;
  justify-content: space-between;
}

.numberQuestion{
  padding-left: 2rem;
}

.score{
  padding-right: 4rem;
}

.containerQuiz{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height:70vh;
}

.title{
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
}

.question{
  padding:1rem;
  font-size: 2rem;
  text-align: center;
}

.choicesContainer{
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding: 2rem;
}

.choiceDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice{
  font-size: 1rem;
  padding: 2rem;
  border-radius: 12px;
  color: #fff;
  margin:1rem;
  text-align: center;
}

.color0{
  background-color: #e1b12c;
}

.color1{
  background-color: #e84118;
}

.color2{
  background-color: #44bd32;
}

.color3{
  background-color: #273c75;
}

.nextContainer{
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.next{
  background-color: #fff;
  color: #000;
  padding: 2rem;
  border-radius: 12px;
}

.correct{
  color:#44bd32;
  font-weight: 800;
}

.incorrect{
  color:#e84118;
  font-weight: 800;
}